{% extends "base.html" %}
{% block title %}Create New User{% endblock %}
{% block content %}
<nav class="subnav">
     <ul><li><a href="{{ url_for("blog.posts") }}">Back</a></li></ul>
</nav>  
<h1 class="subtitle">Create New User</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert" id="alert" role="alert", style="display:block;">
	<p id="alert-text">{{messages[0]}}</p>
	<button type="button" id="alert-close" href="#" class="hide">&times;</a>
</div>
{% endif %}
{% endwith %}
<form method="POST" action="/blog/newuser">
	<div class="form-item">
		<label>Username</label>
		<input type="text" name="user" class="form-input">
	</div>
	<div class="form-item">
		<label>Password</label>
		<input type="password" name="password" class="form-input">
	</div>
	<button>Submit</button>
</form>
{% endblock %}